name: Test Gemini Tweet Action

on:
  workflow_dispatch:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Gemini Tweet Create
        uses: ./ # Uses the action from the current repository
        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}

